body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff;
    margin: 0;
}

.page {
    text-align: center;
    background-color: #1023f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(241, 237, 237);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#home-page p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#word-container {
    font-size: 2em;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

#letters-container {
    margin-bottom: 20px;
}

#letters-container button {
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 5px;
}

#letters-container button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

#status-container {
    margin-top: 20px;
}

#restart-button, #start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}
